.header {
  height: 60px;
  background-color: blue;
  padding: 10px 10px 10px 10px;
  display: flex;
  align-items: center;
}

.my-container {
  margin-top: 20px;
  width: 100%;
  padding: 50px;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
}

.my-container2 {
  width: 100%;
  padding: 50px;
}

.MuiCardContent-root{
  background-color: rgb(190, 182, 182);
}