.header {
  height: 100px;
  background-color: blue;
  padding: 10px 10px 10px 10px;
  display: flex;
  align-items: center;
}

.header .img-logo {
  width: 8%;
}

.header .links-list {
  width: 84%;
}

.header button {
  width: 8%;
  border: none;
  border-radius: 10px;
  background-color: rgb(242, 71, 71);
  color: white;
  padding: 5px;
}

.header .links-list a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
  cursor: pointer;
}

.header .links-list a:hover {
  color: rgb(235, 128, 128);
  text-decoration: underline;
}

.my-container {
  margin-top: 20px;
  width: 100%;
  padding: 50px;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
}

.my-container2 {
  width: 100%;
  padding: 50px;
}
